*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.idea
.lein*
.nrepl*
.nrepl-port
.repl
classes
node_modules
out
pom.xml
pom.xml*
pom.xml.asc
resources/public/js/*
!resources/public/index.html
target
package-lock.json
.cpcache
.shadow-cljs
resources/public/workspaces/*
!resources/public/workspaces/workspaces.html
resources/public/devcards/*
!resources/public/devcards/devcards.html
crux-store
builds/
prn_debug.cljs
