{:paths   ["src/main" "resources"]

 :deps    {org.clojure/clojure                  {:mvn/version "1.10.3"}
           org.clojure/spec.alpha               {:mvn/version "0.2.194"}
           org.clojure/core.async               {:mvn/version "1.3.618"}
           org.clojure/tools.reader             {:mvn/version "1.3.6"}

           ;; common ---------------------------------------------------------------------------------
           ;; logging
           com.taoensso/timbre                  {:mvn/version "5.1.2"}
           org.slf4j/slf4j-api                  {:mvn/version "1.7.30"}
           org.slf4j/slf4j-simple               {:mvn/version "1.7.30"}
           ;; profiler, haven't used so far
           com.taoensso/tufte                   {:mvn/version "2.2.0"}

           ;; frontend -------------------------------------------------------------------------------
           ;; fulcro and fulcro-related deps
           com.fulcrologic/fulcro               {:mvn/version "3.5.0"
                                                 :exclusions  [com.cognitect/transit-cljs
                                                               com.cognitect/transit-js]}
           com.fulcrologic/fulcro-websockets    {:mvn/version "3.3.0"}
           com.cognitect/transit-cljs           {:mvn/version "0.8.269"}
           com.fulcrologic/guardrails           {:mvn/version "1.1.5"}
           com.wsscode/pathom                   {:mvn/version "2.4.0"}

           ;; routing-related
           metosin/reitit                       {:mvn/version "0.5.13"}
           metosin/reitit-pedestal              {:mvn/version "0.5.13"}
           clj-commons/pushy                    {:mvn/version "0.3.10"}

           ;; backend --------------------------------------------------------------------------------
           mount/mount                          {:mvn/version "0.1.16"}

           ;; http
           http-kit/http-kit                    {:mvn/version "2.5.3"}
           ring/ring-core                       {:mvn/version "1.9.3"}
           ring/ring-defaults                   {:mvn/version "0.3.3"}

           ;; xtdb
           com.xtdb/xtdb-core                   {:mvn/version "1.19.0-beta1"}
           com.xtdb/xtdb-lmdb                   {:mvn/version "1.19.0-beta1"}
           duratom/duratom                      {:mvn/version "0.5.3"}

           ;; Password hashing
           cryptohash-clj/cryptohash-clj        {:mvn/version "0.1.10"}

           ;; Only actually used during dev, but it's annoying to take it out of prod builds
           com.wsscode/pathom-viz-connector     {:mvn/version "2021.10.16"}

           ;; these are missing from xtdb-lmdb
           org.lwjgl/lwjgl$natives-windows      {:mvn/version "3.2.3" :native-prefix ""}
           org.lwjgl/lwjgl-lmdb$natives-windows {:mvn/version "3.2.3" :native-prefix ""}}

 :aliases {:outdated    {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                         :main-opts  ["-m" "antq.core"]}
           :uberjar     {:exec-fn    hf.depstar/uberjar
                         :exec-args  {:aot        true
                                      :main-class "glam.server.main"
                                      :jar        "target/glam.jar"
                                      :verbose    true}
                         :extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.253"}}}
           :test        {:extra-paths ["src/test"]
                         :jvm-opts    ["-Dpathom_auth=disabled"]
                         :main-opts   ["-m" "cognitect.test-runner"]
                         :exec-fn     cognitect.test-runner.api/test
                         :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                  :sha     "f597341b6ca7bb4cf027e0a34a6710ca9cb969da"}
                                       thheller/shadow-cljs      {:mvn/version "2.15.0"}}}
           :dev         {:extra-paths ["src/dev" "src/test"]
                         :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                                       "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]

                         :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.866"}
                                       org.clojure/test.check      {:mvn/version "1.1.0"}
                                       thheller/shadow-cljs        {:mvn/version "2.15.0"}
                                       org.clojure/tools.namespace {:mvn/version "1.1.0"}
                                       ;; Formats spec explain.
                                       expound/expound             {:mvn/version "0.8.9"}
                                       fulcrologic/fulcro-spec     {:mvn/version "3.1.12"}
                                       binaryage/devtools          {:mvn/version "1.0.3"}
                                       com.github.awkay/workspaces {:mvn/version "1.0.3"}
                                       com.xtdb/xtdb-http-server   {:mvn/version "1.19.0-beta1"}}}
           :shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.15.0"}}}}}
