{:paths   ["src/main" "resources"]

 :deps    {org.clojure/clojure                 {:mvn/version "1.10.1"}
           org.clojure/spec.alpha              {:mvn/version "0.2.187"}
           com.taoensso/timbre                 {:mvn/version "4.10.0"}
           com.taoensso/tufte                  {:mvn/version "2.1.0"}

           com.fulcrologic/fulcro              {:mvn/version "3.2.9"
                                                :exclusions  [com.cognitect/transit-cljs
                                                              com.cognitect/transit-js]}

           com.cognitect/transit-cljs          {:mvn/version "0.8.264"}

           com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.1"}
           com.fulcrologic/guardrails          {:mvn/version "0.0.12"}
           dv/clj-utils                        {:mvn/version "2020-06-09-b"}

           sablono                             {:mvn/version "0.8.6"}
           org.clojure/core.async              {:mvn/version "1.2.603"}

           metosin/reitit                      {:mvn/version "0.5.2"}
           metosin/reitit-pedestal             {:mvn/version "0.5.2"}
           com.wsscode/pathom                  {:mvn/version "2.2.31"}
           hiccup                              {:mvn/version "2.0.0-alpha2"}

           mount                               {:mvn/version "0.1.16"}

           ring/ring-core                      {:mvn/version "1.8.1"}
           ring/ring-defaults                  {:mvn/version "0.3.2"}
           bk/ring-gzip                        {:mvn/version "0.3.0"}

           ;; Crux
           juxt/crux-core                      {:mvn/version "20.05-1.8.4-alpha"}
           juxt/crux-rocksdb                   {:mvn/version "20.05-1.8.4-alpha"}
           juxt/crux-metrics                   {:mvn/version "20.05-1.8.4-alpha"}
           ;juxt/crux-http-server               {:mvn/version "20.05-1.8.4-alpha"}

           ;; glam.neo4j
           gorillalabs/neo4j-clj               {:mvn/version "4.0.1"}

           ;; Pedestal
           io.pedestal/pedestal.service        {:mvn/version "0.5.8"}
           io.pedestal/pedestal.jetty          {:mvn/version "0.5.8"}

           ;; Password hashing
           cryptohash-clj                      {:mvn/version "0.1.6"}}

 :aliases {:depstar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}}
           :test    {:extra-paths ["src/test"]
                     :main-opts   ["-m" "cognitect.test-runner"]
                     :extra-deps  {com.cognitect/test-runner    {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                                   org.neo4j.test/neo4j-harness {:mvn/version "4.0.0"}}}
           :dev     {:extra-paths ["src/dev" "src/test" "src/workspaces" "src/devcards"]
                     :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]

                     :extra-deps  {org.clojure/clojurescript           {:mvn/version "1.10.773"}
                                   org.clojure/test.check              {:mvn/version "1.0.0"}
                                   thheller/shadow-cljs                {:mvn/version "2.10.12"}
                                   com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.0"}
                                   ;; Logging for pedestal, not sure if exclusion is necessary.
                                   ch.qos.logback/logback-classic      {:mvn/version "1.2.3"
                                                                        :exclusions  [org.slf4j/slf4j-api]}
                                   com.wsscode/pathom-viz-connector    {:mvn/version "1.0.3"}
                                   org.clojure/tools.namespace         {:mvn/version "1.0.0"}
                                   devcards                            {:mvn/version "0.2.7"}
                                   dv/cljs-emotion                     {:mvn/version "version-two"}
                                   ;; Formats spec explain.
                                   expound                             {:mvn/version "0.8.4"}
                                   fulcrologic/fulcro-spec             {:mvn/version "3.1.4"}
                                   binaryage/devtools                  {:mvn/version "0.9.10"}
                                   com.github.awkay/workspaces         {:mvn/version "1.0.0-RC3"}}}}}
