{:deps
 true

 :nrepl
 {:port 9000}

 :builds
 {:main       {:target            :browser
               :output-dir        "resources/public/js/main"
               :asset-path        "/js/main"
               :module-hash-names true
               :modules           {:main {:init-fn glam.client.core/init
                                          :entries [glam.client.core]}}
               ;; guardrails checks only during dev
               :dev               {:compiler-options {:external-config {:guardrails {}
                                                                        :fulcro     {:wrap-inputs? false}}}
                                   :closure-defines  {
                                                      glam.client.application/LOG-RESPONSES true
                                                      glam.client.core/LOG_LEVEL            "debug"}}
               :devtools          {:after-load glam.client.core/refresh
                                   :preloads   [;; if using the chrome extension:
                                                com.fulcrologic.fulcro.inspect.preload

                                                ;; if using the electron app:
                                                ;com.fulcrologic.fulcro.inspect.websocket-preload
                                                com.fulcrologic.fulcro.inspect.dom-picker-preload

                                                glam.client.development-preload]}}

  :test       {:target           :browser-test
               :test-dir         "resources/public/js/test"
               :ns-regexp        "-test$"
               ;; static required for mocking to work
               :compiler-options {:static-fns      false
                                  :external-config {:guardrails {}}}
               :devtools         {:http-port          8022
                                  :http-resource-root "public"
                                  :http-root          "resources/public/js/test"}}

  :ci-tests   {:target           :karma
               :js-options       {:js-provider :shadow}
               :compiler-options {:static-fns false}        ; required for mocking to work
               :output-to        "target/ci.js"
               :ns-regexp        "-test$"}

  :workspaces {:target     :browser
               :modules    {:workspaces {:entries [glam.main-ws]
                                         :init-fn glam.main-ws/main}}
               ;:ns-regexp  "-(test|ws)$"
               :output-dir "resources/public/workspaces/js"
               :asset-path "/js"
               :devtools   {
                            :http-root        "resources/public/workspaces"
                            :push-state/index "workspaces.html"
                            :http-port        8023}}}}
