{:org.httpkit.server/config            {:port 8085}

 ;; The ssl-redirect defaulted to off, but for security should probably be on in production.
 :ring.middleware/defaults-config
 {:params    {:keywordize true
              :multipart  true
              :nested     true
              :urlencoded true}
  :cookies   true
  :responses {:absolute-redirects     true
              :content-types          true
              :default-charset        "utf-8"
              :not-modified-responses true}
  :static    {:resources "public"}
  :session   true
  :security  {:anti-forgery   true
              :hsts           true
              :ssl-redirect   false
              :frame-options  :sameorigin
              :xss-protection {:enable? true
                               :mode    :block}}}

 :taoensso.timbre/logging-config
 {:level        :info
  :ns-whitelist []
  :ns-blacklist []}

 :glam.server.crux/config
 {:main-db-dir    "crux_data"
  :session-db-dir "crux_session_data"}

 :glam.server.pathom/config
 {:connect-viz? false}

 :glam.server.service/config
 {:csp {:font-domains  ["cdnjs.cloudflare.com" "fonts.googleapis.com" "fonts.gstatic.com"]
        :style-domains ["cdnjs.cloudflare.com" "fonts.googleapis.com"]}}}
