{:io.pedestal.http/config
 {:env                              :prod
  :io.pedestal.http/port            8085
  :io.pedestal.http/allowed-origins ["localhost"]}

 :taoensso.timbre/logging-config
 {:level        :info
  :ns-whitelist []
  :ns-blacklist []}

 :glam.server.crux/config
 {:db-dir "crux_data/indexes"
  :event-log-dir "crux_data/event-log"
  :session {:db-dir "crux_session_data/indexes"
            :event-log-dir "crux_session_data/event-log"}}

 :glam.server.pathom/config
 {:connect-viz? false}

 :glam.server.service/config
 {:csp {:font-domains  ["cdnjs.cloudflare.com" "fonts.googleapis.com" "fonts.gstatic.com"]
        :style-domains ["cdnjs.cloudflare.com" "fonts.googleapis.com"]}}}
