{:taoensso.timbre/logging-config
 {:min-level    :debug
  :ns-blacklist ["shadow.cljs.devtools.server.worker.impl"]}

 :glam.server.pathom-parser/config
 {:connect-viz?    true
  :fail-fast?      true
  :index-explorer? true
  :trace?          true
  :log-responses?  true
  :log-requests?   true
  :handle-errors?  false
  :sensitive-keys  [:password :user/password :user/new-password :user/password-hash]}

 :glam.server.xtdb/config
 {:main-db-dir      "xtdb_data"
  :session-db-dir   "xtdb_session_data"
  :http-server-port 5128}}
