<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<!-- Scanning is currently turned on; This will impact performance! -->
<configuration scan="true" scanPeriod="10 seconds">
    <!-- Silence Logback's own status messages about config parsing
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" /> -->

    <!-- Console output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%-5level %logger{36} %X{io.pedestal} - %msg%n</pattern>
        </encoder>
        <!-- Only log level INFO and above -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- Enable STDOUT appender for all log messages.
         By default, only log at level INFO and above. -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- For loggers in the these namespaces, log at all levels. -->
    <logger name="user" level="INFO" />
    <!-- To log pedestal internals, enable this and change ThresholdFilter to DEBUG
      <logger name="io.pedestal" level="ALL" />
    -->

</configuration>
